{% extends ["custom/_template.html.twig", "default/_template.html.twig"] %}
{% set title = "Frequently Asked Questions" %}
{% set breadcrumb = {'icon': 'question-sign', 'text': 'Frequently Asked Questions'} %}
{% if contact is valid_email %}
{% set contact_url = 'mailto:' ~ contact %}
{% else %}
{% set contact_url = contact %}
{% endif %}
{%
set faq = [
  {
    'title': 'What is CryptoPaste?',
    'entry': 'CryptoPaste is a <em>secure pastebin</em> service inspired by <a href="https://cryptobin.org" target="_blank">CryptoBin</a>. Like CryptoBin, CryptoPaste strives to be a <strong>secure</strong>, <strong>stable</strong> and <strong>clean</strong> pastebin service, especially now that CryptoBin has seemingly shut its doors indefinitely.',
  },
  {
    'title': 'Is my content private?',
    'entry': 'Yes. Content is encrypted using the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Advanced_Encryption_Standard" target="_blank">Advanced Encryption Standard</a> with a 256-bit key derived from a password of your choice, or by our unique password generator. Each post is assigned a random alphanumerical ID which is only visible to you and whom you choose to share it with.',
  },
  {
    'title': 'How secure is my content?',
    'entry': 'We do not see nor do we store your password or unencrypted plain text on our servers, as all encryption and decryption takes place client-side using <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Client-side_JavaScript" target="_blank">JavaScript</a> on your local computer. The JavaScript code flushes the password field before the encrypted paste is sent to us. The password field is also flushed in the code just as a precuation. At the end of the day it comes down to you, using a strong password comprising of letters, numbers and symbols of reasonable length can go a long way towards keeping your content secure.',
  },
  {
    'title': 'How long can my content be?',
    'entry': 'The limit for encrypted content is currently 3,145,728 characters in length (or 3MB). This may increase at a later date.',
  },
  {
    'title': 'Can I use it to share code?',
    'entry': 'Of course! Decrypted pastes can also have syntax highlighting, thanks to the <a href="https://highlightjs.org" target="_blank">Highlight.js</a> client-side JavaScript library.',
  },
  {
    'title': 'What else can I share?',
    'entry': 'Anything you want. We cannot see what you share, so we cannot stop you from sharing anything. We of course ask you use this freedom responsibly. ;)',
  },
  {
    'title': 'So what exactly does CryptoPaste store?',
    'entry': 'The only data stored in our database with each paste is the encrypted content itself, the content\'s corresponding ID, the time it was submitted, and the date in which the content should expire. We do not store IP addresses with pastes. Our HTTP access logs are also anonymized.',
  },
  {
    'title': 'I forgot the password to my content, can you give it to me?',
    'entry': 'Nope, sorry, you\'re out of luck &ndash; which is actually a good thing. Because encryption takes place on your local computer, we never see or keep a copy of your password.',
  },
  {
    'title': 'How can I delete my content?',
    'entry': 'Simply put, you cannot. You should specify the expiration at the time of posting the content. We otherwise have no proof the content is yours and we cannot honor this request.',
  },
  {
    'title': 'What if someone submits something inappropriate?',
    'entry': 'Unless you can provide the password and shed light on the nature of the content (e.g. why it is illegal and why it is our obligation to remove it), we cannot do anything as we will not know. That\'s the idea behind cryptography.',
  },
  {
    'title': 'Is CryptoPaste open source?',
    'entry': 'Yes! You can inspect the code for yourself or fork the project on <a href="https://github.com/HackThisCode/CryptoPaste" target="_blank">GitHub</a>.',
  },
  {
    'title': 'What can I do to support CryptoPaste?',
    'entry': 'Spread the word, and <a href="https://github.com/HackThisCode/CryptoPaste" target="_blank">contribute to the project</a> on Github!',
  },
  {
    'title': 'My question was not answered here.',
    'entry': 'If your question is regarding the CryptoPaste software itself, you can open a <a href="https://github.com/HackThisCode/CryptoPaste/issues" target="_blank">Github issue</a>. If your question is regarding this installation of CryptoPaste, you can reach the owner of this site here: <a href="%s">%s</a>'|format(contact_url, contact),
  },
]
%}
{% block content %}

<div class="panel-group" id="faq" role="tablist" aria-multiselectable="true">
{% for itm in faq %}
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="faqh{{ loop.index }}">
      <a role="button" data-toggle="collapse" data-parent="#faq" href="#faq{{ loop.index }}" aria-expanded="true" aria-controls="faq{{ loop.index }}">
        <h3 class="panel-title">{{ itm.title }}</h3>
      </a>
    </div>
    <div id="faq{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqh{{ loop.index }}">
      <div class="panel-body">
{{ itm.entry|raw }}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
