{% extends "_template.twig" %}
{% set breadcrumb = {'icon': 'plus-sign', 'text': 'New Paste'} %}
{% block footerjs %}
<script>
  window.maxlength = {{ max_length }};
  process_url = "{{ path('process') }}";
  captcha_img_url = "{{ path('captcha', {'_format': 'png'}) }}";
</script>
<script type="text/javascript" src="{{ asset('sjcl.js', 'js') }}">/* Stanford Javascript Crypto Library */</script>
<script type="text/javascript" src="{{ asset('aes.js', 'js') }}">/* AES (Advanced Encryption Standard) implementation from Movable Type for backwards compatibility */</script>
<script type="text/javascript" src="{{ asset('zxcvbn.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('smoothscroll.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('clipboard.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('newpaste.js', 'js') }}">
</script>
<script type="text/javascript" src="captcha.js"></script>
<script type="text/javascript">
  captcha_image_audioObj = new SecurimageAudio({ audioElement: 'captcha_image_audio', controlsElement: 'captcha_image_audio_controls' });
</script>
{% endblock %}
{% block content %}
<div class="modal fade" id="confirm-reset" tabindex="-1" role="dialog" aria-labelledby="confirm-reset-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirm-reset-lbl">Clear the form?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to reset and clear the form?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm-reset-btn">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="row" id="loading">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="jumbotron">
      <h1>Loading</h1>
      <p>One moment please . . .</p>
      <img src="{{ asset('loading.gif', 'img') }}" alt="Loading">
    </div>
  </div>
</div>

<form class="form-horizontal collapse" id="new-paste">
  <input type="hidden" name="nonce" id="nonce" value="{{ nonce }}">
  <fieldset>
    <div class="well well-sm">
<!--
      <label for="paste" class="control-label">
        <legend>
          New Paste
        </legend>
      </label>
-->
<!--      <a href="#" class="btn btn-primary pull-right">Preview with Syntax Highlighting</a> -->
      <div class="form-group">
        <div class="col-lg-12">
          <textarea class="form-control npinput" rows="3" id="paste" name="paste" placeholder="Paste your text here"></textarea>
<!--          <span class="help-block">The text you put in the box above will be encrypted by your browser when you click Submit.</span> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="well well-sm">
          <div class="container-fluid">
            <div class="form-group text-center">
              <label for="expiration" class="control-label">
                <legend>
                  Expiration
                </legend>
              </label>
              <select class="form-control npinput" id="expiration" name="expiration">
                <option value="once">Burn After Reading</option>
                <option value="10min">10 Minutes</option>
                <option value="1h">1 Hour</option>
                <option value="1d">1 Day</option>
                <option value="1w">1 Week</option>
                <option value="1m">1 Month</option>
                <option value="1y">1 Year</option>
                <option value="never" selected>Never Expires</option>
              </select>
              <span class="help-block">Set paste expiration. "Burn After Reading" deletes the paste immediately upon being viewed.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="well well-sm">
          <div class="container-fluid">
            <div class="form-group text-center">
              <label for="password" class="control-label">
                <legend>
                  Password
                </legend>
              </label>
              <div class="input-group">
                <input type="password" class="form-control npinput" id="password" name="password" placeholder="Protect with a password or generate one">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" id="genpasswd">Generate Password</button>
                </span>
              </div>
              <label class="pull-left">
                Password Strength:
              </label>
              <div class="progress col-lg-offset-2">
                <div class="progress-bar progress-bar-primary" id="passwd_progress" style="min-width:5px;"></div>
              </div>
              <p id="passwd_helper">Set or generate a password</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="well well-sm">
          <div class="container-fluid">
            <div class="form-group text-center">
              <label for="captcha_code" class="control-label">
                <legend>
                  CAPTCHA
                </legend>
              </label>

              <div class="row">
                <div class="col-lg-8">
                  <p class="text-right">
<!--
                    <img id="captcha_image" src="captcha.png?{{ random() ~ random() }}" alt="CAPTCHA Image">
-->
                    <img id="captcha_image" src="{{ path('captcha', {'_format': 'png'}) }}?{{ random() ~ random() }}" alt="CAPTCHA Image">
                  </p>
                </div>
                <div class="col-lg-4 text-left">
                  <div id="captcha_image_audio_div">
                    <audio id="captcha_image_audio" preload="none" style="display: none">
                      <source id="captcha_image_source_wav" src="{{ path('captcha', {'_format': 'wav'}) }}?id={{ random() ~ random() }}" type="audio/wav">
                      <object type="application/x-shockwave-flash" data="{{ path('captcha', {'_format': 'swf'}) }}?bgcol=%23ffffff&amp;icon_file={{ path('cimg', {'img': 'audio_icon.png'})|url_encode }}&amp;audio_file={{ path('captcha', {'_format': 'mp3'})|url_encode }}" height="32" width="32">
                        <param name="movie" value="{{ path('captcha', {'_format': 'swf'}) }}?bgcol=%23ffffff&amp;icon_file={{ path('cimg', {'img': 'audio_icon.png'})|url_encode }}&amp;audio_file={{ path('captcha', {'_format': 'mp3'})|url_encode }}">
                      </object>
                    </audio>
                  </div>
                  <div id="captcha_image_audio_controls">
                    <button type="button" tabindex="-1" class="btn btn-primary btn-sm captcha_play_button" href="{{ path('captcha', {'_format': 'wav'}) }}?id={{ random() ~ random() }}" onclick="return false">
                      <img class="captcha_play_image" height="32" width="32" src="{{ path('cimg', {'img': 'audio_icon.png'}) }}" alt="Play CAPTCHA Audio" style="border: 0px">
                      <img class="captcha_loading_image rotating" height="32" width="32" src="{{ path('cimg', {'img': 'loading.png'}) }}" alt="Loading audio" style="display: none">
                    </button>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" id="captcha_refresh" tabindex="-1" style="border: 0" title="Refresh CAPTCHA">
                    <img height="32" width="32" src="{{ path('cimg', {'img': 'refresh.png'}) }}" alt="Refresh Image" onclick="this.blur()" style="border: 0px; vertical-align: bottom">
                  </button>
                </div>
              </div>
              <input type="text" name="captcha" class="form-control npinput" id="captcha_code" placeholder="Type the CAPTCHA text here">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="well well-sm">
      <div class="form-group text-center submit-or-clear">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            <button type="button" class="btn btn-success btn-lg btn-block disabled" id="btn-submit" data-toggle="tooltip" data-placement="top" title="You must fill out the fields above before you can encrypt and submit your paste.">
              <strong>ENCRYPT & SUBMIT PASTE</strong>
            </button>
          </p>
          <p>
            <button type="button" class="btn btn-danger btn-sm" id="btn-clear">Clear Form</button>
          </p>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div class="row collapse" id="submitted">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="jumbotron">
      <h1>Paste submitted!</h1>
      <p>Use the URL below to share your paste:</p>
      <div class="input-group">
        <input type="text" class="form-control" id="paste-url" readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" id="clipboard" data-clipboard-target="#paste-url">
            <i class="glyphicon glyphicon-copy"></i>
            Copy to Clipboard
          </button>
        </span>
      </div>
      <p id="submitted-expiry"></p>
      <p>Make sure you safely and securely share the password for this paste!</p>
      <div class="row collapse" id="burn-notice">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="alert alert-warning">
            <h3><strong>Warning!</strong></h3>
            Your paste was set to "Burn After Reading". Be careful how you share this URL, as sometimes social media or messaging apps will pre-load the URL, and this might delete the paste!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
