{% extends "_template.twig" %}
{% set title = "View Encrypted Paste" %}
{% set breadcrumb = {'icon': 'paste', 'text': 'View Encrypted Paste'} %}
{% block head %}
<link rel="stylesheet" href="{{ asset('default.css', 'hjscss') }}">
{% endblock %}
{% block footerjs %}
<script type="text/javascript" src="{{ asset('sjcl.js', 'js') }}">/* Stanford Javascript Crypto Library */</script>
<script type="text/javascript" src="{{ asset('aes.js', 'js') }}">/* AES (Advanced Encryption Standard) implementation from Movable Type for backwards compatibility */</script>
<script type="text/javascript" src="{{ asset('highlight.pack.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('viewpaste.js', 'js') }}"></script>
<script>
  var timestamp = {{ timestamp }};
</script>
{% endblock %}
{% block content %}
<div class="row" id="loading">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="jumbotron">
      <h1>Loading</h1>
      <p>One moment please . . .</p>
      <img src="{{ asset('loading.gif', 'img') }}" alt="Loading">
    </div>
  </div>
</div>

<div class="collapse" id="view-paste">
{% if burnnotice is not empty %}
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><strong>Notice</strong></h3>
      <p>{{ burnnotice }}</p>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-sm">
        <div class="form-group">
          <p class="pull-left">
            Created: <span id="timestamp">-</span>
          </p>
          <p class="pull-right">
            Views: {{ views }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-sm">
        <pre><code id="paste">{{ paste }}</code></pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 text-center">
      <div class="well well-sm">
        <div class="form-group">
          <label for="hjslist" class="control-label">
            <legend>
              Syntax Highlighting
            </legend>
          </label>
          <select class="form-control" id="hjslist" data-toggle="tooltip" data-placement="top" title="You must first decrypt the paste before you can choose syntax highlighting." disabled>
            <option value="">None</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-center">
      <div class="well well-sm">
        <div class="form-group">
          <label for="password" class="control-label">
            <legend>
              Password
            </legend>
          </label>
          <input type="password" class="form-control npinput" id="password" name="password" placeholder="Enter the password associated with this encrypted paste">
        </div>
      </div>
    </div>
    <div class="col-lg-3 text-center">
      <div class="well well-sm">
        <button type="button" class="btn btn-success btn-lg btn-block disabled" id="btn-decrypt" data-toggle="tooltip" data-placement="top" title="You must enter the password to decrypt this paste.">
          Decrypt Paste
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
